---
//@ts-nocheck

const {product} = Astro.props;
---

<a href =`/details/${product.Handle}`>
<article>
    <img src={product.image} alt="productimage">
<h3>{product.productname}</h3>
<p>kr.{product.price},-</p>
<article/>
</a>

<style>
    article {
        border: solid 1px;
        padding: 1rem;
    }
    img {
        max-width: 100%;
    }
</style>